// Fonts
$font-extra-extra-small: 11px;
$font-extra-small: 12px;
$font-small: 13px;
$font-main: 14px;
$font-middle: 16px;
$font-large: 18px;
$font-extra-large: 20px;
$font-subheading: 22px;
$font-heading: 36px;

// Colors
$white: #ffffff;
$black: #000000;
$accent-red: #ef5350;
$hover-red: #f44336;
$error: #fd0000;
$primary: #7e57c2;
$primary-light: #b085f5;
$primary-dark: #4d2c91;
$accent: #ffa000;
$accent-light: #ffd149;
$accent-dark: #c67100;
$green: #0ac60a;

// Fonts colors
$font-grey: #6f7782;
$font-second-grey: #9ca6af;
$font-light-grey: #cbd4db;
$font-grey-placeholder: #9CA6AF;
$font-grey-disabled: #5B6470;

// Border Colors
$border-color: #e8ecee;
$border-focus: #B1B9BD;
$border-error: #EDACAC;

$timeline-container-border-color-red: #f44336;
$timeline-container-border-color-amber: #ffca28;
$timeline-container-border-color-green: #4caf50;

// Background-colors
$dark: #151b26;
$input-disabled: #F3F4F7;
$grey-background: #f6f8f9;
$light: #F6F8F9;

// Shadows
$shadow-main: 0 1px 3px 0 rgba(21,27,38,.15);
$shadow-popover: 0 0 0 1px rgba(111,119,130,.15), 0 5px 20px 0 rgba(21,27,38,.08);
$shadow-popover-search: 0 5px 20px 0 rgba(21,27,38,.08);

// side bar width
$sidebar-width: 240px;

// Component Sizes

// meeting
$meeting-padding-vertical: 1rem;
$meeting-padding-horizontal: 2rem;

// timeline
$timeline-height: 4rem;
$timeline-list-height: 3rem;

$timeline-user-avatar-size: 4rem;
$timeline-list-margin-left: $timeline-user-avatar-size * 1.5;

$timeline-container-icon-size: $timeline-list-height * 0.4;
$timeline-icon-size: $timeline-list-height / 3;

$timeline-container-padding: 3px;
$timeline-container-border-radius: 4px;
