@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
