<mat-expansion-panel [expanded]="true" class="project-accordion">
    <mat-expansion-panel-header>
        <mat-panel-title>
            My Projects
        </mat-panel-title>
    </mat-expansion-panel-header>

    <app-project-add *ngIf="showForm" (toggleForm)="toggleForm()"></app-project-add>
    <app-project-edit *ngIf="showEditForm"
        [project]="selectedProject"
        (toggleEditForm)="toggleEditForm(null)">
    </app-project-edit>

    <div *ngIf="!showForm && !showEditForm" class="projects__wrapper">
        <button matRipple *ngIf="!projects"
            class="projects__create-btn no-projects"
            (click)="toggleForm()">
            <div class="projects__icon-wrap">
                <span class="projects__create-icon">
                    <span class="icon-plus"></span>
                </span>
            </div>
            <p class="projects__create-title">New Project</p>
        </button>
        <ul *ngIf="projects"
            class="projects__content">
            <li class="projects__item">
                <button matRipple class="projects__create-btn" (click)="toggleForm()">
                    <div class="projects__icon-wrap">
                        <span class="projects__create-icon">
                            <span class="icon-plus"></span>
                        </span>
                    </div>
                    <p class="projects__create-title">New Project</p>
                </button>
            </li>
            <li *ngFor="let project of projects" class="projects__item">
                <app-project-item [user]="user" [project]="project" (toggleForm)="toggleEditForm(project)"></app-project-item>
            </li>
        </ul>
    </div>
</mat-expansion-panel>
