@import 'variables';

.mobile-menu {
    display: none;

    @media(max-width: 600px) {
        display: block;
    }

    &__trigger {
        font-size: $font-large;
    }

    &__item--sign-in {
        color: $primary;
        font-weight: 500;
    }

    &__item--sign-up {
        color: $white;
        font-weight: 500;
        background-color: $primary;
    }
}