<div class="user-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="User menu">
      <div class="user-menu__avatar">{{ userShortName }}</div>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
        <div class="user-menu__info">
            <div class="user-menu__name">{{ user.name }}</div>
            <div class="user-menu__email">{{ user.email }}</div>
        </div>
        <button mat-menu-item class="user-menu__item" (click)="redirectHome()">
            <div class="user-menu__link">Board</div>
        </button>
        <button mat-menu-item class="user-menu__item" (click)="redirectProfile()">
            <div class="user-menu__link">User Profile</div>
        </button>
        <button mat-menu-item class="user-menu__item" (click)="logout()">
            <div class="user-menu__link">Logout</div>
            <span class="icon-log-out user-menu__icon"></span>
        </button>
    </mat-menu>
</div>