@import 'variables';
@import 'mixins';

.user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__name {
        color: $black;
        font-size: $font-small;
        font-weight: 500;
        margin-bottom: 0;
    }

    &__email {
        color: $font-grey-disabled;
        font-size: $font-small;
        font-weight: 400;
        margin-bottom: 0;
    }

    &__info {
        position: relative;
        padding-right: 30px;
    }

    &__icon {
        top: 50%;
        right: 0;
        position: absolute;
        transform: translateY(-50%);
        font-size: 16px;

        &.pending {
            color: $font-grey;
        }
    }
}