@import '../../../../styles/mixins';

.cdk-drop-dragging .cdk-drag {
  transition: transform 0.25s ease-out;
}

.cdk-drag-animating {
  transition: transform 0.25s ease-out;
}

.cdk-drag-placeholder {
  transition: transform 0.25s ease-out;
}

.timeline {
  @include dis-flex(flex-start, stretch);

  height: 50px;
  width: 100%;

  z-index: 2;

  &__user {
    @include basic-square(50px);
    overflow: hidden;
  }

  &__lists {
    position: relative;
    width: calc(100% - 50px);
  }

  &__list,
  &__container {
    @include absolute-0-0-left;
    height: 100%;
  }

  &__list {
    @include dis-flex(stretch, stretch);
    width: 100%;
  }

  &__container {
    @include dis-flex(center, center);

    width: 100%;
    
    background-color: black;
    color: white;

    border: 5px solid;
    box-sizing: border-box;

    transition: 0.25s ease-out;

    user-select: none;

    z-index: 5;

    &--ghost {
      opacity: 0.5;

      z-index: 4;
    }

    &--busy {
      border-color: red;
    }

    &--undesirable {
      border-color: yellow;
    }

    &--free {
      border-color: green;
    }
  }

  &__item {
    @include dis-flex-column(flex-start, flex-start);

    position: relative;

    height: 100%;
    width: 100%;

    &--static {
      position: absolute;

      top: 0;

      width: 15px;

      background-color: orange;

      flex-grow: unset;

      z-index: 10;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  &__handle {
    @include basic(100%, 50%);

    background-color: red;

    opacity: 0;

    cursor: pointer;

    transition: 0.125s ease-out;

    z-index: 100;
    
    &--swap {
      @include basic-square(50%);

      align-self: flex-end;

      cursor: move;

      z-index: 100;
      
      background-color: blue;

      opacity: 0;

      transition: 0.125s ease-out;
    }

    &--show {
      opacity: 1;
    }

    &--left {
      align-self: flex-start;
    }

    &--right {
      align-self: flex-end;
    }

    &--add {
      width: 100%;

      cursor: default;
      
      z-index: -1;
    }

  }

  &__swap {
    @include basic-square(100%);
    @include absolute-0-0-left;

    height: 100%;

    pointer-events: none;
    user-select: none;
    cursor: pointer;
  }

  &__delete {
    @include basic-square(10px);

    position: absolute;
    top: 0;
    right: 0;

    background-color: crimson;

    cursor: pointer;

    transform: translateX(-20px);
  }
}
