<div class="timeline" *ngIf="timelineObject else loadingTimeline">
  <div class="timeline__user">
    <span class="timeline__username">{{user ? user.name : ''}}</span>
  </div>

  <div class="timeline__lists">
  <div *ngFor="let timeline of [timelineStarts, timelineEnds]"
    class="timeline__list"
    cdkDropList
    [cdkDropListData]="timeline"
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)">

    <div *ngFor="let item of timeline; index as index"
      class="timeline__item"
      cdkDrag
      [cdkDragData]="item"
      [cdkDragDisabled]="!item"
      cdkDragBoundary=".timeline"
      cdkDragLockAxis="x"
      (cdkDragMoved)="onDragMove($event, item)">

      <div *ngIf="item" 
        class="timeline__handle"
        [class.timeline__handle--left]="item.value === 'start'"
        [class.timeline__handle--right]="item.value === 'end'"
        [class.timeline__handle--show]="
          item.value === (movingItem ? movingItem.value : null)
          && item.id === (movingItem ? movingItem.id : null)
        "
        cdkDragHandle
        (mousedown)="startMoving(item)"
        (mouseup)="stopMoving()">
      </div>

    </div>
  </div>

  <div class="timeline__list timeline__list--swaps"
    cdkDropList
    [cdkDropListData]="timelineSwaps"
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="swapDrop($event)">

    <div *ngFor="let item of timelineSwaps; index as index"
      class="timeline__item timeline__item--swap"
      cdkDrag
      [cdkDragData]="item"
      [cdkDragDisabled]="!item || !item.isStart"
      cdkDragBoundary=".timeline"
      cdkDragLockAxis="x"
      (cdkDragMoved)="onDragMove($event, item)"
      (mousedown)="startMoving(item)"
      (mouseup)="stopMoving()">

      <div *ngIf="item && item.isStart"
        class="timeline__swap"
        [class.timeline__swap--show]="
          item.value === (movingItem ? movingItem.value : null)
          && item.id === (movingItem ? movingItem.id : null)
        "
        [style]="{
          width: percentString(100 * (item.indexes[1] - item.indexes[0] + 1))
        }">
      </div>

      <div *ngIf="item && item.isStart"
        class="timeline__handle--swap"
        [class.timeline__handle--show]="
          (item && !movingItem) || (item.value === movingItem.value && item.id === movingItem.id)
        "
        cdkDragHandle>
      </div>

    </div>
  </div>

  <div class="timeline__list timeline__list--add"
    cdkDropList
    id="{{addingDropListId}}"
    [cdkDropListData]="timelineAddingItems"
    cdkDropListConnectedTo="{{timelineBarId}}"
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="addDrop($event)">

    <div *ngFor="let item of timelineAddingItems"
      class="timeline__handle timeline__handle--add"
      cdkDrag
      cdkDragDisabled>
    </div>
  </div>

  <app-timeline-ghost-container *ngFor="let ghost of ghostContainers"
    [percentWidth]="percentString(ghost.width)"
    [percentMarginLeft]="percentString(ghost.startX)"
  ></app-timeline-ghost-container>

  <app-timeline-main-container *ngFor="let container of mainContainers"
    [container]="container"
    [percentWidth]="percentString(container.width)"
    [percentMarginLeft]="percentString(container.startX)"
    (deleteContainerEvent)="deleteContainer($event)"
  ></app-timeline-main-container>
  </div>

</div>

<ng-template #loadingTimeline>
  <span>loading</span>
</ng-template>
