<div class="meetings" *ngIf="meeting else loadingMeeting">

  <div class="meetings__header">

    <mat-form-field class="filters__item">
      <mat-label>Meeting date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="meetingDay" (ngModelChange)="onChangeMeetingDay()" />
  
      <button matSuffix mat-icon-button aria-label="Clear" (click)="resetMeetingDay()">
        <mat-icon>close</mat-icon>
      </button>
  
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <h1 class="meetings__name">Meeting topic: {{meeting.name}}</h1>

  </div>

  <div class="meetings__lines">
    <app-timeline-bar
      class="meetings__bar"
      [addingDropListIds]="getAllAddingDropListIds()"
      [timelineBarId]="timelineBarId">
    </app-timeline-bar>

    <app-timeline *ngFor="let timeline of meeting.timelines"
      [timelineObject]="timeline"
      [timelineBarId]="timelineBarId"
      [addingDropListId]="getAddingDropListId(timeline.timelineId)"
      (changedTimelineEvent)="onChangedTimelineEvent($event)">
    </app-timeline>
  </div>

    <div class="meetings__hours">
      <h2>Best Meeting Hours</h2>
      <div class="meetings__freehours">
        <h3 *ngFor="let hour of bestMeetingHours">{{ hour }}</h3>
      </div>
      
      <h2>Possible Meeting Hours</h2>
      <div class="meetings__freehours">
        <h3 *ngFor="let hour of possibleMeetingHours">{{ hour }}</h3>
      </div>
    </div>
</div>

<ng-template #loadingMeeting>
  <div class="meetings--loading">
    <h2>Meeting is loading. Please wait...</h2>
  </div>
</ng-template>
