<h1 mat-dialog-title>Invite people to your workspace</h1>
<div mat-dialog-content>
    <div *ngIf="!submitted" class="invite__form-wrap">
        <p class="invite__description">Current project will automatically appears for invited users</p>
        <p class="invite__label">Email addresses</p>
        <div class="invite__textarea">
            <mat-chip-list #chipList aria-label="Email selection">
                <mat-chip *ngFor="let email of emails" [selectable]="selectable"
                    class="invite-chip"
                    [ngClass]="{invalid: !email.valid}"
                    [removable]="removable" (removed)="remove(email)"
                    [disabled]="submitted">
                    {{ email.value }}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <form 
                    [formGroup]="inviteForm"
                    class="invite__form">
                    <input placeholder="user.email@mail.com, ..."
                        [matChipInputFor]="chipList"
                        class="invite__input"
                        formControlName="email"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)">
                </form>
            </mat-chip-list>
        </div>
    </div>

    <div class="invite__errors">
        <ul *ngIf="!valid && submitted" class="invite__errors-list error">
            <li class="invite__errors-title">Not valid emails:</li>
            <li *ngFor="let email of notValidEmails"
                class="invite__errors-list-item">{{ email.value }}</li>
        </ul>
        <ul *ngIf="submitted && notRegistered.length" class="invite__errors-list warn">
            <li class="invite__errors-title">Some users were not added to the list of participants of current project because there are no registered users with provided email.</li>
            <li class="invite__errors-list-item warn" *ngFor="let item of notRegistered">{{ item }}</li>
        </ul>
    </div>
</div>

<div mat-dialog-actions>
    <div *ngIf="!response; else submittedTemplate" class="invite__not-submitted">
        <button mat-flat-button
            color="primary"
            [disabled]="emails.length && !valid"
            (click)="handleInvite()">Invite</button>
        <button mat-stroked-button
            color="warn"
            (click)="handleCancel()">Cancel</button>
    </div>
    <ng-template #submittedTemplate>
        <button mat-stroked-button
            (click)="handleCancel()">OK</button>
    </ng-template>
</div>