@import 'mixins';
@import 'variables';

.ruler {
  @include fill-parent;
  @include dis-flex(space-between, stretch);

  padding-top: $meeting-padding-vertical;
  box-sizing: border-box;

  @media (max-width: 900px) {
    padding-bottom: $meeting-padding-vertical;
  }

  &__item {
    @include basic(calc(100% - #{$meeting-padding-vertical}), 100%);
    @include dis-flex-column(flex-end, flex-start);

    @media (max-width: 900px) {
      height: 100%;
    }

    &--last {
      @include absolute-0-0-right;
      top: $meeting-padding-vertical;

      width: 1px;

      transform: translateX(100%);

      @media (max-width: 900px) {
        height: calc(100% - #{$meeting-padding-vertical} * 2);
      }
    }
  }

  &__row {
    @include basic(100%, 1px);

    background-color: $dark;

    border-radius: 1px;
  }

  &__count {
    color: $dark;

    @media (max-width: 900px) {
      display: none;
    }
  }

  &__row,
  &__count {
    opacity: 0.5;

    transform: translateX(-50%);
  }
}
