@import 'variables';

.header {
  padding: 1em 8em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    display: flex;
    align-items: center;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;


  &__text {
    font-family: 'Poppins', sans-serif;
    color: $accent-light;
    font-weight: 800;
    font-size: 22px;
    margin-left: 5px;
  }

  &__text--color {
    color: $dark;
  }

  &__icon {
    font-size: 30px;
    padding: 0 5px 8px 0;
    background: -webkit-linear-gradient(0deg, $dark 0%, $primary-light 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}

.nav {

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-item {
    color: $dark;
    cursor: pointer;
    white-space: nowrap;
    margin: 0 10px;

    &:hover {
      color: $primary-light;
    }
  }

  &__menu-item-link-button {
    color: $white;
    background-color: $primary;

    &:hover {
      background-color: $primary-dark;
    }
  }

  &__menu-item-link {
    color: $dark;

    &:hover {
      color: $primary-light;
    }
  }
}


@media (max-width: 1140px) {
  .header {
    padding: 1em 3em;
  }

}


@media (max-width: 576px) {
  .header {
    padding: 1em 2em;

    &__menu {
      display: none;
    }
  }
  
}

