<header class="header">
    <nav class="nav header__nav">
        <div class="header__logo">
            <a routerLink="/" class="logo">
                <app-hot-drink-icon></app-hot-drink-icon>
                <span class="logo__text">Croissant<span class="logo__text--color">Board</span></span>
            </a>
        </div>
        <ul class="nav__menu">
            <li class="nav__menu-item"><a routerLink="/why-us" class="nav__menu-item-link">Why CroissantBoard?</a></li>
            <li class="nav__menu-item"><a routerLink="/how-to-start" class="nav__menu-item-link">How to start</a></li>
        </ul>
    </nav>
    <div class="header__setting">
        <ul class="nav__menu">
            <li class="nav__menu-item">
            <div>
                <mat-icon class="header__language-icon" aria-hidden="false" aria-label="Example home icon">language</mat-icon>
            </div>
            </li>
            <li class="nav__menu-item"><a routerLink="/auth/login" class="nav__menu-item-link">Log In</a></li>
            <li class="nav__menu-item"><a routerLink="/auth/register" class="nav__menu-item-link">Sign Up</a></li>
            <li class="nav__menu-item"><a routerLink="/board/home" class="nav__menu-item-link-button" mat-raised-button>Try for free</a></li>
        </ul>
    </div>

    <div class="hamburger-menu__wrapper">
        <div>
            <mat-icon class="header__language-icon" aria-hidden="false" aria-label="Example home icon">language</mat-icon>
        </div>
        <div class="hamburger-menu">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Croissant Menu Button">
                <mat-icon class="hamburger-menu__icon">menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item class="hamburger-menu__item">
                    <mat-icon class="hamburger-menu__item-icon">people</mat-icon>
                    <a routerLink="/why-us" class="nav__menu-item-link">Why CroissantBoard?</a>
                </button>
                <button mat-menu-item class="hamburger-menu__item">
                    <mat-icon class="hamburger-menu__item-icon">access_time</mat-icon>
                    <a routerLink="/how-to-start" class="nav__menu-item-link">How to start</a>
                </button>
                <button mat-menu-item>
                    <mat-icon class="hamburger-menu__item-icon">person_add</mat-icon>
                    <a routerLink="/auth/register" class="nav__menu-item-link">Sign Up</a>
                </button>
                <button mat-menu-item class="hamburger-menu__item">
                    <mat-icon class="hamburger-menu__item-icon">how_to_reg</mat-icon>
                    <a routerLink="/auth/login" class="nav__menu-item-link">Log In</a>
                </button>
                <button mat-menu-item>
                    <mat-icon class="hamburger-menu__item-icon">free_breakfast</mat-icon>
                    <a routerLink="/board/home" class="nav__menu-item-link">Try for free</a>
                </button>
            </mat-menu>
        </div>
    </div>
</header>
