<div class="services">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab>
            <ng-template mat-tab-label class="services__tabs">
                <h3>Get organized</h3>
            </ng-template>
            <div class="services__description-container">
                <img src="../../../../../assets/web-design2.png" alt="" class="services__description-image">
                <p class="services__description">Plan and structure work in a way that’s best for you. Set priorities and deadlines. Share details and assign tasks. All in one place.</p>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label class="services__tabs">
                <h3>Stay on track</h3>
            </ng-template>
            <div class="services__description-container">
                <img src="../../../../../assets/web-design3.png" alt="" class="services__description-image">
                <p class="services__description">Follow projects and tasks through every stage. You know where work stands and can keep everyone aligned on goals.</p>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label class="services__tabs">
                <h3>Hit deadlines</h3>
            </ng-template>
            <div class="services__description-container">
                <img src="../../../../../assets/web-design4.png" alt="" class="services__description-image">
                <p class="services__description">Create visual project plans to see how every step maps out over time. Pinpoint risks. Eliminate roadblocks. Even when plans change.</p>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

