<div class="review">
    <div class="review__image-container">
        <img src="../../../../../../../assets/images/landing/landing-services.png" alt="Review" class="review__image">
    </div>
    <div class="review__content">
        <div class="review__content-wrapper">
            <h1 class="review__title">Teams love CroissantBoard, but don’t take our word for it</h1>
            <p class="review__subtitle">Read over 6,000 reviews from real customers about how CroissantBoard fuels their business success.</p>
            <div><app-croissant-icon></app-croissant-icon></div>
        </div>
    </div>
</div>
