@import "_variables";

.container__period {
    display: flex;
    justify-content: space-between;
}

.container__period_header {
    padding: 1% 5%;
    max-width: 40%;
}

p {
    margin: 0;
    color: $font-grey;
    font-size: $font-large;
    font-weight: 400;
    cursor: pointer;

        @media (max-width: 420px) {
            font-size: $font-middle;
        }

        span {
            font-size: $font-heading;
            font-weight: 500;

                @media (max-width: 420px) {
                    font-size: $font-subheading;
                }
        }

        .control-icon {
            font-size: $font-heading + 10px;
            font-weight: 900;
            cursor: pointer;

                @media (max-width: 420px) {
                    font-size: $font-subheading + 5px;
                }
        }
}