<div class="project-item">
    <div class="project-item__logo">
        <app-avatar [name]="project.name" [iconColor]="project.iconColor"></app-avatar>
    </div>
    <div class="project-item__title">{{ project.name }}</div>
    <div *ngIf="isUserAuthor" class="project-item__actions">
        <button matRipple
            class="project-item__button edit"
            (click)="editProject($event)">
            <span class="icon-edit"></span>
        </button>
        <button matRipple
            class="project-item__button delete"
            (click)="openDialog(project)">
            <span class="icon-trash"></span>
        </button>
    </div>
</div>
