<div class="project">
    <div *ngIf="showSidebar" class="project__selected"
        [style.background-color]="selected.iconColor">
        <span>{{ selected.name }}</span>
        <span class="icon-chevron-down project__arrow"></span>
    </div>
    <div *ngIf="!showSidebar" class="project__icon" [style.background-color]="selected.iconColor">
        {{ selectedShot }}
    </div>
    <mat-form-field class="project__field">
        <mat-select
            [(value)]="selected"
            class="project__select"
            (selectionChange)="onChange(selected)">
            <mat-option *ngFor="let project of projects" 
                [value]="project"
                class="project__option">
                <div class="project__label"
                    [style.background-color]="project.iconColor">{{ project.name }}</div>
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>