@import "variables";
@import "mixins";

.task-list {
  padding: 0;
  overflow-y: auto;
  max-height: calc(100vh - 600px);

  &__item {
    background-color: $white;
    border-bottom: 1px solid $border-color;
    &:hover {
      background-color: $light;
      cursor: pointer;
    }
  }
}

::ng-deep .cdk-drop-list {
  padding: 0;
  margin: 5px 0;
}

::ng-deep .cdk-drag {
  list-style: none;
}
