<div class="task-filter">
  <div class="task-filter__column">
    <span class="task-filter__counter">{{count}} tasks left </span>
  </div>
  <div class="task-filter__column">

    <mat-form-field class="task-filter__filter">
      <select matNativeControl (change)="filterItems($event)">
        <option value="all">All</option>
        <option value="active">Active</option>
        <option value="completed">Completed</option>
      </select>
    </mat-form-field>

    <mat-form-field class="task-filter__filter">
      <select matNativeControl (change)="sortByCategories($event)">
        <option value="name">Name</option>
        <option value="dateOfCreate">Date</option>
        <option value="deadline"> Due date</option>
        <option value="completed">Completed</option>
      </select>
    </mat-form-field>
  </div>
</div>