@import "variables";
@import "mixins";

.task-filter {
  padding: 0 24px;
  @include dis-flex(space-between, center);
  background-color: $white;
  height: 40px;
  box-shadow: $shadow-main;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  color: $font-grey;

  &__filter{
    margin-left: 16px;
  }
}
