@import "variables";
@import "mixins";

.task-filter {
  padding: 0 24px;
  @include dis-flex(space-between, center);
  background-color: $white;
  min-height: 40px;
  box-shadow: $shadow-main;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  color: $font-grey;

  &__column {
    @media (max-width: 414px) {
      max-width: 50%;
      flex-direction: column;
    }
  }

  &__submenu{
    color: $font-grey;
    text-decoration: underline;
    cursor: pointer;
  }

  &__filter {
    margin-left: 16px;

    @media (max-width: 414px) {
      font-size: $font-extra-extra-small;
      margin-left: 0;
    }
  }
}
::ng-deep .task-filter .mat-form-field-infix {
  @media (max-width: 414px) {
    width: 160px;
  }

  @media (max-width: 320px) {
    width: 140px;
  }
}
