<div class="search" (clickOutside)="hideResults()">
  <div class="search__box">
    <input
      class="search__input common-input"
      type="text"
      [value]="searchService.query"
      (click)="showResults = true"
      (keyup)="searchService.onQuery($event)"
    />
    <span
      class="icon-search search__icon-search"
      *ngIf="!searchService.query"
    ></span>
    <button
      [ngClass]="{ clear: !!searchService.query }"
      class="search-clear"
      aria-label="Clear"
      mat-icon-button
      (click)="closeSearch()"
    >
      <span class="icon-x"></span>
    </button>
  </div>
  <div
    class="search__results"
    *ngIf="showResults && authService.user$ | async as user"
    (click)="hideResults()"
  >
    <ais-instantsearch
      class="search__instantsearch"
      [config]="searchService.createConfig('projects')"
    >
      <ais-configure
        [searchParameters]="searchService.getSearchParameters('projects')"
      ></ais-configure>
      <ais-hits>
        <ng-template let-hits="hits" let-results="results">
          <a
            class="search__title"
            *ngIf="results.query !== '' && hits.length > 0"
            [routerLink]="['/board/projects']"
          >
            Projects
          </a>
          <ol
            class="search__hits ais-Hits-list"
            *ngIf="results.query !== '' && hits.length > 0"
          >
            <li class="ais-Hits-item search__hit" *ngFor="let hit of hits">
              <a
                class="search__link"
                [routerLink]="['/board/projects/', hit.objectID]"
              >
                <span
                  [style.color]="hit.iconColor"
                  class="search__icon icon-folder icon-folder--active"
                ></span>
                <ais-highlight
                  class="search__hit-text"
                  attribute="name"
                  [hit]="hit"
                >
                </ais-highlight>
              </a>
            </li>
          </ol>
        </ng-template>
      </ais-hits>
    </ais-instantsearch>

    <ais-instantsearch
      class="search__instantsearch"
      [config]="searchService.createConfig('tasks')"
    >
      <ais-configure
        [searchParameters]="searchService.getSearchParameters('tasks')"
      ></ais-configure>
      <ais-hits>
        <ng-template let-hits="hits" let-results="results">
          <a
            class="search__title"
            *ngIf="results.query !== '' && hits.length > 0"
            [routerLink]="['/board/tasks']"
          >
            Tasks
          </a>
          <ol
            class="search__hits ais-Hits-list"
            *ngIf="results.query !== '' && hits.length > 0"
          >
            <li
              class="ais-Hits-item search__hit"
              *ngFor="let hit of hits"
              [ngSwitch]="hit.completed"
            >
              <a
                class="search__link"
                [routerLink]="['/board/tasks/', hit.objectID]"
              >
                <span
                  class="search__icon icon-check-circle icon-check-circle--completed"
                  *ngSwitchCase="true"
                ></span>
                <span
                  class="search__icon icon-check-circle icon-check-circle--not-completed"
                  *ngSwitchCase="false"
                ></span>
                <span
                  class="search__icon icon-check-circle icon-check-circle--not-completed"
                  *ngSwitchCase="undefined"
                ></span>
                <ais-highlight
                  class="search__hit-text"
                  attribute="name"
                  [hit]="hit"
                >
                </ais-highlight>
                <span class="search__note">{{ hit.project }}</span>
              </a>
            </li>
          </ol>
        </ng-template>
      </ais-hits>
    </ais-instantsearch>

    <ais-instantsearch
      class="search__instantsearch"
      [config]="searchService.createConfig('meetings')"
    >
      <ais-configure
        [searchParameters]="searchService.getSearchParameters('meetings')"
      ></ais-configure>
      <ais-hits>
        <ng-template let-hits="hits" let-results="results">
          <a
            class="search__title"
            *ngIf="results.query !== '' && hits.length > 0"
            [routerLink]="['/board/meetings']"
          >
            Meetings
          </a>
          <ol
            class="search__hits ais-Hits-list"
            *ngIf="results.query !== '' && hits.length > 0"
          >
            <li
              class="ais-Hits-item search__hit"
              *ngFor="let hit of hits"
              [ngSwitch]="hit.isFinished"
            >
              <a
                class="search__link"
                [routerLink]="['/board/meetings/', hit.objectID]"
              >
                <span
                  class="search__icon icon-grid icon-grid--finished"
                  *ngSwitchCase="true"
                ></span>
                <span
                  class="search__icon icon-grid icon-grid--not-finished"
                  *ngSwitchCase="false"
                ></span>
                <span
                  class="search__icon icon-grid icon-grid--not-finished"
                  *ngSwitchCase="undefined"
                ></span>
                <ais-highlight
                  class="search__hit-text"
                  attribute="name"
                  [hit]="hit"
                ></ais-highlight>
                <span class="search__note">{{ hit.projectName }}</span>
              </a>
            </li>
          </ol>
        </ng-template>
      </ais-hits>
    </ais-instantsearch>

    <ais-instantsearch
      class="search__instantsearch"
      [config]="searchService.createConfig('users')"
      *ngIf="
        user.role === 'admin' || (user.projects && user.projects.length > 0)
      "
    >
      <ais-configure
        [searchParameters]="searchService.getSearchParameters('users')"
      ></ais-configure>
      <ais-hits>
        <ng-template let-hits="hits" let-results="results">
          <a
            class="search__title"
            *ngIf="results.query !== '' && hits.length > 0"
            [routerLink]="['/board/users']"
          >
            Users
          </a>
          <ol
            class="search__hits ais-Hits-list"
            *ngIf="results.query !== '' && hits.length > 0"
          >
            <li
              class="ais-Hits-item search__hit"
              *ngFor="let hit of hits"
              [ngSwitch]="hit.status"
            >
              <a
                class="search__link"
                [routerLink]="['/board/users/', hit.objectID]"
              >
                <span
                  class="search__icon icon-user icon-user--available"
                  *ngSwitchCase="'available'"
                ></span>
                <span
                  class="search__icon icon-user icon-user--busy"
                  *ngSwitchCase="'busy'"
                ></span>
                <span
                  class="search__icon icon-user icon-user-offline"
                  *ngSwitchCase="'offline'"
                ></span>
                <span
                  class="search__icon icon-user icon-user-offline"
                  *ngSwitchCase="undefined"
                ></span>
                <ais-highlight
                  class="search__hit-text"
                  attribute="name"
                  [hit]="hit"
                ></ais-highlight>
              </a>
            </li>
          </ol>
        </ng-template>
      </ais-hits>
    </ais-instantsearch>
  </div>
</div>
