@import 'variables';
@import 'mixins';

.users-list {
    margin: 0;
    padding: 0;

    &__item {
        padding: 8px 0;
        border-bottom: 1px solid $border-color;

        &:hover {
            background-color: $grey-background;
        }
    }

    &__no-items {
        padding: 8px 0;
        color: $primary;
    }
}
