<section class="team">
    <h1  class="team__title">Joining us you join the best development team</h1>
    <app-line-separator-icon></app-line-separator-icon>
    <ul class="team__members-list">
        <li class="team__members-item">
            <figure>
                <img class="team__members-image" src="../../assets/images/about-us/mariana.png" alt="developer"/>
                <figcaption class="team__members-description">Mariana Svirzhevska</figcaption>
            </figure>
        </li>
        <li class="team__members-item">
            <figure>
                <img class="team__members-image" src="../../assets/images/about-us/misha.png" alt="developer"/>
                <figcaption class="team__members-description">Mykhailo Kostiuk</figcaption>
            </figure>
        </li>
        <li class="team__members-item">
            <figure>
                <img class="team__members-image" src="../../assets/images/about-us/roma.png" alt="developer"/>
                <figcaption class="team__members-description">Roman Tsakhlo</figcaption>
            </figure>
        </li>
        <li class="team__members-item">
            <figure>
                <img class="team__members-image" src="../../assets/images/about-us/anna.png" alt="developer"/>
                <figcaption class="team__members-description">Anna Androsiuk</figcaption>
            </figure>
        </li>
        <li class="team__members-item">
            <figure>
                <img class="team__members-image" src="../../assets/images/about-us/dasha.png" alt="developer"/>
                <figcaption class="team__members-description">Daria Kyrychenko</figcaption>
            </figure>
        </li>
        <li class="team__members-item">
            <figure>
                <img class="team__members-image" src="../../assets/images/about-us/taras.png" alt="developer"/>
                <figcaption class="team__members-description">Taras Moskalenko</figcaption>
            </figure>
        </li>
    </ul>
</section>
