<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Finished Meetings
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list class="list">
      <mat-list-item class="list__item" *ngFor="let meeting of finished">
        <mat-icon mat-list-icon>done</mat-icon>

        <div class="list__meeting">
          <span> {{formatTime(meeting.hour)}} </span>

          <span> {{meeting.name}} </span>

          <span> {{getDate(meeting.meetingDay) | date}} </span>
        </div> 
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Upcoming Meetings
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list class="list">
      <mat-list-item class="list__item" *ngFor="let meeting of upcoming">
        <mat-icon mat-list-icon>schedules</mat-icon>

        <div class="list__meeting">
          <span> {{formatTime(meeting.hour)}} </span>

          <span> {{meeting.name}} </span>

          <span> {{getDate(meeting.meetingDay) | date}} </span>
        </div> 
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
