.header {
  box-shadow: 0 2px 12px 0 rgba(36, 50, 66, 0.075);

  &__content {
    display: flex;
    height: 60px;
    align-items: center;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #646f79;
  }

  &__logo {
    margin-right: 40px;
    width: 160px;
    height: 100%;
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__item {
    margin-left: 24px;

    &:first-child {
      margin: 0;
    }
  }

  &__link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;

    &:hover {
      color: #796eff;
    }
  }
}
