<header class="header">
  <div class="container">
    <div class="header__content">
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <div class="header__logo">
              <app-logo></app-logo>
            </div>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">Item#1</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">Item#2</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">Item#3</a>
          </li>
        </ul>
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link" [routerLink]="['/auth/login']">Log In</a>
          </li>
          <li class="header__item">
            <a class="header__link" [routerLink]="['/auth/register']"
              >Register</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
