@import '../../../../../../styles/mixins';

.cdk-drag-placeholder {
  transition: transform 0.25s ease-out;
}

.timeline-bar {
  @include basic(50px, 100%);

  position: relative;

  &__list {
    @include dis-flex(space-evenly, stretch);
    @include fill-parent;

    &--background {
      @include absolute-0-0-left;
    }
  }

  &__item {
    position: relative;

    width: 25%;

    cursor: move;

    .timeline-bar__placeholder {
      opacity: 0;
    }
  }

  &__handle {
    @include fill-parent;
  }

  &__placeholder {
    @include fill-parent;

    background-color: black;
  }

  &__container {
    opacity: 0;

    &--show {
      opacity: 0.5;
    }
  }
}
