<div class="board">
    <aside class="board__sidebar"
        [ngClass]="{sidebar: showSidebar}">
        <app-sidebar
            [showSidebar]="showSidebar"
            [isDesktop]="isDesktop"
            (toggleSidebar)="toggleSidebar()"></app-sidebar>
    </aside>
    <div class="board__content">
        <app-board-header
            (toggleSidebar)="toggleSidebar()"
            [showButton]="!showSidebar">
        </app-board-header>
        <router-outlet></router-outlet>
    </div>
</div>