@import '../../../../../../styles/mixins';
@import '../../../../../../styles/variables';

:host {
  @include absolute-0-0-left;
  height: 100%;
}

.ghost-container {
  @include fill-parent;
  @include marpad-0-0;

  background-color: black;
  opacity: 0.5;
  
  border-radius: $timeline-container-border-radius;
  box-sizing: border-box;

  transition: 0.25s ease-out;
}
