<div class="search">
    <input
        type="text"
        class="search__input common-input"
        [(ngModel)]="searchString"
        (ngModelChange)="onSearch($event)"
        placeholder="Search...">
    <span
        *ngIf="!searchString"
        class="search__icon icon-search"></span>
    <button
        *ngIf="searchString"
        mat-icon-button
        aria-label="Clear"
        class="search-clear"
        (click)="clear()">
        <span class="icon-x"></span>
    </button>
</div>
