<div class="timeline-bar">
  <div
    cdkDropList
    id="{{timelineBarId}}"
    [cdkDropListConnectedTo]="addingDropListIds"
    cdkDropListSortingDisabled
    [cdkDropListData]="timelineAddingItems"
    cdkDropListOrientation="horizontal"
    class="timeline-bar__list"
  >

    <div *ngFor="let item of timelineAddingItems; index as index" class="timeline-bar__item" cdkDrag
      (mousedown)="startMoving(item)" (mouseup)="stopMoving()">

      <app-timeline-main-container
        [isTimelineBarItem]="true"
        [status]="item"
      ></app-timeline-main-container>

    </div>
  </div>
</div>
