<div class="timeline-bar">

  <div class="timeline-bar__list"
    cdkDropList
    id="{{timelineBarId}}"
    [cdkDropListConnectedTo]="addingDropListIds"
    cdkDropListSortingDisabled
    [cdkDropListData]="timelineAddingItems"
    cdkDropListOrientation="horizontal"
  >

    <div *ngFor="let item of timelineAddingItems; index as index"
      class="timeline-bar__item"
      cdkDrag
      (mousedown)="startMoving(item)"
      (mouseup)="stopMoving()">

      <app-timeline-main-container
        [isTimelineBarItem]="true"
        [status]="item"
      ></app-timeline-main-container>

    </div>

  </div>
  
</div>
