<div class="task-page">
  <div class="task-page__filter">
    <app-task-filter (sortVal)="pickSortVal($event)" (filter)=pickFilterVal($event) [tasks]="tasks"></app-task-filter>
  </div>

  <div class="task-page__main">
    <div class="task-page__container">
      <div class="task-page__header">
        <button (click)="showAddMenu()" mat-flat-button color="primary">
          <span class="task-page__icon icon-plus"></span>
          Add Task
        </button>
      </div>
      <mat-divider></mat-divider>
      <div *ngIf="tasks?.length>0; else noTasks" class="task-page__scroll">
        <div class="task-page__icon task-page__tree">
          <span *ngIf="showTaskList; else hiddenTasks " class="task-page__icon icon-chevron-down"
            (click)="showTasks()"></span>
          <ng-template #hiddenTasks>
            <span class="task-page__icon icon-chevron-right" (click)="showTasks()"></span>
          </ng-template>
          <span class="task-page__title">Resently added</span>
        </div>
        <span *ngIf="showTaskList" class="task-page__hint">*Double click to edit task</span>
        <app-task-list *ngIf="showTaskList" [sortVal]="sortVal" [filter]="filter" (oneTask)="pasteTask($event, $event)">
        </app-task-list>
      </div>

      <ng-template #noTasks>
        <span class="task-page__empty">Loading...</span>
      </ng-template>
    </div>

    <div *ngIf="isShown" class="task-page__container task-page__add-block">
      <app-task-add (isShown)="showAddMenu()"></app-task-add>
    </div>

    <div *ngIf="editShown" class="task-page__container task-page__add-block">
      <app-task-edit [task]="oneTask" (isShown)="showEditMenu()"></app-task-edit>
    </div>
  </div>
</div>