@import 'variables';

.board-home {
    padding: 16px;
    display: flex;
    flex: 1 1 auto;
    min-height: calc(100vh - 68px);
    flex-direction: column;
    background-color: $grey-background;
    box-sizing: border-box;

    &__section {
        margin-bottom: 20px;
    }

    &__content {
        padding: 10px;
    }
}