<div class="board-header"
    [ngClass]="{showSearch: showSearch}">
    <div class="board-header__left">
        <button
            mat-icon-button
            aria-label="Hide"
            class="hide-button"
            (click)="hideSidebar()">
            <span class="board-header__hide-button icon-menu"></span>
        </button>
        <h1 class="board-header__title">{{ title }}</h1>
    </div>
    <div class="board-header__actions">
        <button aria-label="Search"
            mat-icon-button
            *ngIf="!showSearch"
            (click)="toggleSearch()"
            class="board-header__search-icon">
            <span class="icon-search"></span>
        </button>
        <div class="board-header__search-desktop">
            <app-search (hideSearch)="toggleSearch()"></app-search>
        </div>
        <div *ngIf="user" class="board-header__user-menu">
            <app-user-menu [user]="user"></app-user-menu>
        </div>
    </div>
    <div class="board-header__search-mobile"
        [ngClass]="{showSearch: showSearch}">
        <app-search (hideSearch)="toggleSearch()"></app-search>
    </div>
</div>
