<div class="main-calendar">

    <div class="calendar">

        <div class="calendar__week">
            <div class="calendar__day_name">Monday</div>
            <div class="calendar__day_name">Tuesday</div>
            <div class="calendar__day_name">Wednesday</div>
            <div class="calendar__day_name">Thurseday</div>
            <div class="calendar__day_name">Friday</div>
            <div class="calendar__day_name">Saturday</div>
            <div class="calendar__day_name">Sunday</div>
        </div>

        <div 
        class="calendar__week" 
        *ngFor="let week of calendar"
        >
            <div 
            class="calendar__day" 
            *ngFor="let day of week.days"
            [class.disabled]="day.disabled"
            (click)="select(day.value)"
            >
                <div 
                class="calendar__day_date"
                [class.active]="day.active"
                [class.selected]="day.selected"
                >
                    {{day.value | date:'LLL d'}}
                </div>

                <div class="calendar__day_event">
                    <ul>
                        <li 
                        *ngFor="let task of tasks"
                        >{{ task.name }}</li>

                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
