@import '../../../../../../styles/mixins';
@import '../../../../../../styles/variables';

:host {
  @include fill-parent;
  @include dis-flex-column(flex-start, flex-end);

  position: relative;
}

.handle {
  @include basic(100%, 40%);
  @include flex-center;

  box-sizing: border-box;

  background-color: transparent;

  transition: 0.125s ease-out;

  overflow: hidden;
  cursor: pointer;
  z-index: 1;

  &--hidden {
    opacity: 0;
  }

  &--left {
    align-self: flex-start;
    
    padding-right: 0;
  }

  &--right {
    align-self: flex-end;
    
    padding-left: 0;
  }
  
  &--swap {
    @include basic-square($timeline-container-icon-size);
    
    padding: $timeline-container-padding;

    transform: translate(50%, $timeline-container-padding);

    transition: 0.125s ease-out;

    cursor: move;
  }

  &--add {
    width: 100%;

    cursor: default;
    z-index: -1;
  }

  &__icon {
    @include fill-parent;
    @include flex-center;

    border-radius: $timeline-container-border-radius;
    box-sizing: border-box;

    background-color: $white;
    color: $light;

    font-size: $timeline-icon-size * 1.5;

    transition: 0.25s ease-out;

    &--swap {
      color: $light;

      font-size: $timeline-icon-size * 0.75;
      font-weight: 300;
    }

    &--busy {
      background-color: $timeline-container-border-color-red;
    }
    
    &--free {
      background-color: $timeline-container-border-color-green;
    }
    
    &--undesirable {
      background-color: $timeline-container-border-color-amber;
    }

    &--moving {
      background-color: $font-grey;
    }
  }

}
