@import 'variables';

.delete {

    &__container {
        padding: 20px 0;
    }

    &__warn {
        font-size: $font-main;
        color: $accent-black;
        margin-bottom: 10px;

        span {
            font-weight: 600;
        }
    }

    &__warn-info {
        font-size: $font-small;
        color: $font-grey;
    }

    &__icon {
        font-size: 26px;
        color: $accent-red;
        margin-right: 20px;
    }

    &__user {
        margin: 14px 0;
        padding: 10px 0;
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: $border-color;
    }

    &__name {
        color: $black;
        font-weight: 600;
    }

    &__email {
        font-size: $font-small;
        color: $font-grey-disabled;
    }
}