<footer class="footer">
    <div class="footer__container container">
        <a class="footer__privacy" href="https://www.privacypolicies.com/privacy/view/2d6ff9087d0d3e0cbe3d10b484384cd9" target="blank">Privacy Policy</a>

        <ul class="footer__menu">
          <li class="footer__menu-item">
                <a class="footer__menu-link" href="mailto:croissant.board1@gmail.com" target="blank">
                    <span class="icon-mail"></span>
                </a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link" href="https://github.com/CroissantBoard" target="blank">
                    <span class="icon-github"></span>
                </a>
            </li>
        </ul>
        <div>
            <p class="footer__copyright">&copy;2020 CroissantBoard</p>
        </div>
    </div>
</footer>
