<footer class="footer">
    <ul class="footer__menu">
      <li class="footer__menu-item">
          <a>Terms & Privacy</a>
      </li>
        <li class="footer__menu-item">
            <ul class="footer__socials-menu">
                <li class="footer__socials-menu-item"><mat-icon class="logo__icon" aria-hidden="false" aria-label="Croissant Board Logo">share</mat-icon></li>
                <li class="footer__socials-menu-item"><mat-icon class="logo__icon" aria-hidden="false" aria-label="Croissant Board Logo">thumb_up_alt</mat-icon></li>
            </ul>
        </li>
    </ul>
    <div>
        <p class="footer__copyright">&copy;2020 CroissantBoard</p>
    </div>
</footer>
