<mat-card *ngIf="!isTimelineBarItem else timelineBarItem"
  class="main-container"
  [class.main-container--busy]="container.status === 'busy'"
  [class.main-container--free]="container.status === 'free'"
  [class.main-container--undesirable]="container.status === 'undesirable'">

  <div class="main-container__inner">

    <div class="main-container__handle main-container__handle--left"></div>

    <h4 class="main-container__content">
      {{container.totalHours > 1 ? container.totalHours : ''}}
    </h4>

    <!-- *ngIf="container.width > timelinePointWidth" -->
    <div class="main-container__delete" (click)="emitDeleteContainerEvent()"></div>

    <div class="main-container__handle main-container__handle--right"></div>
  </div>

</mat-card>

<ng-template #timelineBarItem>
  <mat-card class="main-container"
    [class.main-container--busy]="status === 'busy'"
    [class.main-container--free]="status === 'free'"
    [class.main-container--undesirable]="status === 'undesirable'">

    <div class="main-container__inner">
      <h4 class="main-container__content">{{status}}</h4>
    </div>

  </mat-card>
</ng-template>
